DroidSeace/Web References/SeaceWCF/ServiceApp1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://gsaico-001-site1.btempurl.com/SeaceService/ServiceApp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" />
  <xs:element name="InsertarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" minOccurs="0" name="dto" nillable="true" type="q1:personDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarPersonaResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" minOccurs="0" name="dto" nillable="true" type="q2:personDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarPersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idperson" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPersonaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPersonaXnombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombrespersona" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPersonaXnombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" minOccurs="0" name="ListarPersonaXnombreResult" nillable="true" type="q3:ArrayOfpersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" minOccurs="0" name="ListarPersonasResult" nillable="true" type="q4:ArrayOfpersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaPorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idperson" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPersonaPorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" minOccurs="0" name="BuscarPersonaPorIDResult" nillable="true" type="q5:personDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" minOccurs="0" name="dto" nillable="true" type="q6:personDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerificarPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerificarPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>