DroidSeace/Web References/SeaceWCF/ServiceApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceApp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.34/SeaceService/ServiceApp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.34/SeaceService/ServiceApp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.34/SeaceService/ServiceApp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SeaceWCF.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonQuery_InsertarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_InsertarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_ActualizarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_ActualizarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_EliminarPersona_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPersona" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_EliminarPersona_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_ListarPersonaXnombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonaXnombre" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_ListarPersonaXnombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonaXnombreResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_ListarPersonas_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonas" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_ListarPersonas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPersonasResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_BuscarPersonaPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPersonaPorID" />
  </wsdl:message>
  <wsdl:message name="IPersonQuery_BuscarPersonaPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPersonaPorIDResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonQuery">
    <wsdl:operation name="InsertarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonQuery/InsertarPersona" message="tns:IPersonQuery_InsertarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonQuery/InsertarPersonaResponse" message="tns:IPersonQuery_InsertarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonQuery/ActualizarPersona" message="tns:IPersonQuery_ActualizarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonQuery/ActualizarPersonaResponse" message="tns:IPersonQuery_ActualizarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonQuery/EliminarPersona" message="tns:IPersonQuery_EliminarPersona_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonQuery/EliminarPersonaResponse" message="tns:IPersonQuery_EliminarPersona_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPersonaXnombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonQuery/ListarPersonaXnombre" message="tns:IPersonQuery_ListarPersonaXnombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonQuery/ListarPersonaXnombreResponse" message="tns:IPersonQuery_ListarPersonaXnombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPersonas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonQuery/ListarPersonas" message="tns:IPersonQuery_ListarPersonas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonQuery/ListarPersonasResponse" message="tns:IPersonQuery_ListarPersonas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonaPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonQuery/BuscarPersonaPorID" message="tns:IPersonQuery_BuscarPersonaPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonQuery/BuscarPersonaPorIDResponse" message="tns:IPersonQuery_BuscarPersonaPorID_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonQuery" type="tns:IPersonQuery">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonQuery/InsertarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonQuery/ActualizarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarPersona">
      <soap:operation soapAction="http://tempuri.org/IPersonQuery/EliminarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPersonaXnombre">
      <soap:operation soapAction="http://tempuri.org/IPersonQuery/ListarPersonaXnombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPersonas">
      <soap:operation soapAction="http://tempuri.org/IPersonQuery/ListarPersonas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPersonaPorID">
      <soap:operation soapAction="http://tempuri.org/IPersonQuery/BuscarPersonaPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceApp">
    <wsdl:port name="BasicHttpBinding_IPersonQuery" binding="tns:BasicHttpBinding_IPersonQuery">
      <soap:address location="http://192.168.1.34/SeaceService/ServiceApp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>